body{
  background-color: bisque;
font-style: italic;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.achiev_img
{
    width: 300px;
    height: auto;
}

nav{

background-color: RGB(136, 176, 75);
margin-bottom: 5px;

}
a{
    color: black;
}
a:link:visited:active{

    text-decoration: none;


}
a:hover{

    color: rgba(13, 173, 13, 0.76);
}
#username{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px;
    margin-left: auto;
}
#status{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px;
    margin-left: auto;
}
#profile_icon{

    border-radius: 100%;
    height: 50px;
    width: auto;
}
.col-sm-4{
    float: left;
    margin-bottom: 5px;
}
.col-sm-6{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}



.logosite{
    height: 50px;
    width: auto;
}
.achivsiz{

font-size: 14px;


}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
